.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper {
    background-color: #2b2b2b !important;
    color: white !important;
}

.css-j5x3eq-MuiButtonBase-root-MuiPickersDay-root {
    color: white !important;
}

.css-6ec4yv-MuiTypography-root-MuiDayCalendar-weekDayLabel {
    color: white !important;
}

 .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
     background-color: #2b2b2b !important;
 }

.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    color: white !important;

}

.css-12mkn7b-MuiButtonBase-root-MuiIconButton-root-MuiPickersCalendarHeader-switchViewButton {
    color: white !important;

}

.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button {
    color: white !important;

}
.css-a9rw36{
    background-color: #2b2b2b !important;
    color: white !important;
}
.css-1g1zi25{
    color: white !important;
}
.css-1nqsrod {
    color: white !important;
}
.css-1wjkg3{
    color: white !important;
}
.css-1fklenr{
    color: white !important;
}
.css-11wxb{
    color: white !important;
}
.css-slyssw{
    color: white !important;
}